name: Update TryHackMe Badge

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  update-badge:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Create assets folder if missing
        run: mkdir -p assets

      - name: Download TryHackMe badge
        uses: p4p1/tryhackme-badge-workflow@main
        with:
          username: "dev0310"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
